SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY
PORT=3000

# Billplz configuration
BILLPLZ_API_KEY=e497b8db-5027-447e-a2b5-4356f99c5505
BILLPLZ_COLLECTION_ID=h8acrwoj
BILLPLZ_SANDBOX=true
BILLPLZ_X_SIGNATURE_KEY=5f3cc4849d32c9c5393386f2b1521d02e035df28a017defd78838887e9eb53573d7fbc3864123ad05916ab1aa56973b3e67661332e2498bcb416d03bb8b368f9

APP_BASE_URL=https://haqimilikimyra.vercel.app

# Telegram notifications
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=8927298444:AAFnsB1iUzpMwq5-1G7WpMPdT3p4KgTNPi4
TELEGRAM_CHAT_ID=-5125111058
